@media screen and (max-width: 1246px){
	#mockup a {
    	padding: 140px 155px 140px 155px;
	}
}



@media screen and (max-width: 1224px){
	.header__logo{
	  	margin-right: 300px
	}

	#header__list {
	  	display: flex;
	}

	.ourServices__cards {
	  	display:  grid;
	 	grid-template-columns: 370px 370px;
	 	grid-column-gap: 30px ;
	 	grid-row-gap: 30px;
	 	justify-content: center;
	}

	.watchs a{
  		 padding: 100px 80px 100px 80px;
  		
	}

	#watchheight {
		height: 280px;
	}


	.flasks a{
	  padding: 100px 107px 118px 85px;
	}

	#web a{
	  padding: 100px 99px 119px 99px;
	}


	#mockup a{ 
	  padding: 100px 80px 119px 100px;
	}

	

}

@media screen and (max-width: 1154px){
	.header__logo{
     	margin-right: 99px;
	}

	.container {
  	 	width: 900px;
	 	margin: 0 auto;
	}

	#header__list {
		display: flex;
	}

	.aboutUs__card:not(:last-child){
		margin-right: 50px
	}

	.aboutUs__text p{
		padding:  0 10px 0 10px;
	}

	.ourTeam__social a:not(:last-child) {
    	margin-right: 20px;
	}
}



@media screen and (max-width: 1024px){
	
	.watchs a{
		padding: 110px 78px 110px 78px;
	}

	.blog__blok{
  		display: flex;
  		flex-direction: row;
  		justify-content: center;
  		margin-bottom: 30px;
	}
  


	.blog__blok img{
	  margin-right: 30px;
	  width: 500px;
	  height: 400px;
	}

	.left{
	  flex-direction: row;
	}

	.blog__blokText{
	  font-family: "Open Sans",sans-serif;
	  display: flex;
	  flex-direction: column;
	  color: #212121;
	}


	.blog__blokText a{
	  font-size: 25px;
	  font-weight: 600; 
	  color: #212121;
	  margin-bottom: 15px;
	  margin-top: 0;
	}





	.blog__blokText p{
	  font-size: 15px;
	  font-weight: 400;
	  color: #212121;
	  padding-right: 0;
	}

	.block__date{
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  gap: 20px;
	  margin-bottom: 16px;
	}

	.block__date i{
	  margin-right: 10px;
	}

	.block__date p{
	  font-size:  17px;
	  font-weight: 600;
	  padding-right: 0;
	}

	.blog__buton {
	  
	  margin-top: 75px;
	}


	.blog__buton a{
	  padding: 20px 52px 20px 52px;
	  border: 3px solid #000000;
	  margin-top: 125px;
	  color: #212121;
	  font-family: "Open Sans",sans-serif;
	  font-size: 20px;
	  font-weight: 700;
	}

	.contacts__input input{
		width: 400px
	}

	.form textarea{
		width: 900px
	}

	.sendd{
		margin-right: -690px
	}



}

@media screen and (max-width: 900px){
	#header__menu {
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		justify-content: center;
  		margin: 0 auto;
	}

	.header__logo{
		margin-right: 0;
	}

	.container{
		width: 100%;
		padding: 0 10px 0 10px;
		margin: 0 auto;
	}

	#header__list {
		display: flex;
	}

	#watchheight{
		width: 280px;
		height: 280px;
	}

	.ourTeam__social a:not(:last-child) {
    	margin-right: 10px;
	}


}





@media screen and (max-width: 768px){
	.main__tithe h2{
		font-size: 50px;
	}

	.main__subtitle p{
		font-size :22px ;
	}

	.padd{
		padding: 75px 0 75px 0;
	}

	.ourServices__cards {
  		grid-template-columns: 295px 295px; 
  		justify-content: center;
	}

	.block__text p{
		padding: 0 100px 0 100px;
	}

	#ourServices__card {
  		width: 295px;
  		height: 438px;
  		background-color: #ffffff;
  		display:  flex;
  		flex-direction: column;
  		align-items: center;
  		text-align: center;
  		padding: 50px 50px 50px 50px;
    	color: #212121;
	}



	.watchs a{
  		 padding: 83px 50px 82px 50px;
  		
	}

	#watchheight {
		height: 224px;
	}


	.flasks a{
	  padding: 80px 69px 82px 66px;
	}

	#web a{
	  padding: 84px 72px 79px 68px;
	}


	#mockup a{ 
	  	 padding: 81px 49px 81px 75px;
	}

	.pricingPlan__cards{
		flex-direction: column;
	}

	.pricingPlan__card:not(:last-child){
 	 	margin-right: 0px;
 	 	margin-bottom: 30px;
	}

	.ourTeam__social a:not(:last-child) {
    	margin-right: 5px;
	}

	.blog__blok img {
    	margin-right: 10px;
    	width: 350px;
    	height: 250px;
	}

	.blog__blokText p {
    	font-size: 13px;
    	font-weight: 400;
    	color: #212121;
    	padding-right: 0;
	}

	.contacts__blocks{
		gap: 30px;
	}

	.contacts__input input{
		width: 300px
	}

	.form textarea{
		width: 630px;
	}

	.sendd{
		margin-right: -420px
	}

}

@media screen and (max-width: 660px){
	.blog__blokText {
    	flex-direction: column;
    	align-items: center;
	}
    	
    	

	.blog__blokText p {
    	padding: 0 10px 0 10px;
    	text-align: center;
	}

	.blog__blok {
    	flex-direction: column-reverse;
    	align-items: center;
    	margin-bottom: 50px
	}
    
    
}



@media screen and (max-width: 502px){
	#header__menu {
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		justify-content: center;
  		margin: 0 auto;
	}

	.header{
		padding: 10px 0 10px 0;
	}

	#header__list ul{
		padding: 0 0 0 0;
		flex-direction: column;
		align-items: center;
  		justify-content: center;
	}

	#header__list li:not(:last-child) {
    	margin-right: 0;
    	margin-bottom: 10px
	}

	.bourger{
		display: block;
	}

	#header__list {
		display: none;
	}

	.header__logo{
		margin-right: 0;
	}

	.container{
		width: 100%;
		padding: 0 10px 0 10px;
		margin: 0 auto;
	}

	.ourTeam__cards{
		flex-direction: column;
	}
}


@media screen and (max-width: 425PX){
	.main{
		padding: 100px 0 100px 0;
	}

	.main__tithe h2{
		font-size: 27px;
	}

	.main__subtitle p{
		font-size: 14px
	}

	.main__button-white a{
		margin-right: 0;
	}

	.main__button{
		flex-direction: column;
	}

	.main__button-green{
		margin-top: 70px
	}

	.padd{
		padding: 50px 0 50px 0;
	}

	.aboutUs__cards{ 
		flex-direction:column;
		margin-top: 50px;
	}

	.aboutUs__card:not(:last-child){
		margin-right: 0;
	}

	.margi{
		margin-bottom: 70px ;
	}

	.aboutUs__card-text p{
		margin-bottom: 40px;
	}

	.aboutUs__card-text h2{
		margin: 10px 0 10px 0 ;
	}

	.ourServices__cards {
  		grid-template-columns: 295px; 
  		justify-content: center;
	}

	.block__text p{
		padding: 0 50px 0 50px;
	}

	#ourServices__card {
  		width: 295px;
  		height: 438px;
  		background-color: #ffffff;
  		display:  flex;
  		flex-direction: column;
  		align-items: center;
  		text-align: center;
  		padding: 50px 50px 50px 50px;
    	color: #212121;
	}

	.latestWorks__design{
		flex-direction: column;
		justify-content: center;
		align-items: center;
    	margin: 0 auto;
	}


	#web img{
		margin-right: 0;
	}

	#web{
		margin-right: 0;
	}

	#ui img{
		margin-right: 0;
	}

	#ui{
		margin-right: 0px;
	}

	#watchheight {
		height: 370px;
		width: 370px;
	}

	.watchs a{
	  padding: 150px 135px 160px 115px;
	}

	.flasks a{
	  padding: 150px 141px 160px 139px;
	}

	#web a{
	  padding: 155px 143px 155px 144px;
	}

	#mockup a{ 
	  padding: 155px 135px 155px 135px;
	}

	.latestWorks__buttons{
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    row-gap: 20px;
	    column-gap: 20px;
	    margin-bottom: 20px;
	}

	.latestWorks__buttons button:not(:last-child){
		margin-right: 0;
	}

	.pricingPlan__cards{
		flex-direction: column;
	}

	.pricingPlan__card:not(:last-child){
 	 	margin-right: 0px;
 	 	margin-bottom: 30px;
	}
	.ourTeam__cards{
		flex-direction: column;
	}
	
	.ourTeam__social a:not(:last-child) {
    	margin-right: 30px;
	}	

	.contacts__blocks{
		flex-direction: column;
	}	

	.contacts__input{
		flex-direction: column;
	}

	.form textarea{
		width: 300px
	}

	.sendd{
		margin-right: 0px;
	}


}

@media screen and (max-width: 375px){
	.block__text{
		margin-bottom: 50px
	}

	.block__text h2{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.block__text p{
		font-size: 13px;
	}

	#watchheight {
		height: 338px;
		width: 338px;
	}

	.watchs a{
	  padding: 150px 135px 100px 115px;
	}

	.flasks a{
	  padding: 136px 129px 141px 120px
	}

	#web a{
	  padding: 134px 122px 145px 133px;
	}

	#mockup a{ 
	  padding: 162px 126px 116px 113px;
	}

	.pricingPlan__card{
		width: 330px;
    }

    .ourTeam__cards{
		flex-direction: column;
		gap: 0;
	}
	
	.ourTeam__social a:not(:last-child) {
    	margin-right: 30px;
	}	



}

@media screen and (max-width: 320px){
	#watchheight {
		height: 338px;
		width: 338px;
	}

	.watchs a{
	  padding: 150px 135px 130px 115px;
	}

	.flasks a{
	  padding: 150px 141px 160px 139px;
	}

	#web a{
	  padding: 155px 143px 155px 144px;
	}

	#mockup a{ 
	  padding: 155px 126px 155px 133px;
	}

	.pricingPlan__card{
		width: 280px;
    }

    .pricingPlan__card-body h3{
    	margin-bottom: 15px
    }

     .pricingPlan__card-body p{
    	margin-bottom: 15px
    }




}